@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{

    --bg-green : #39ac80;
    --bg-clearBlue : #3c8cd7;
    --bg-darkBlue : #153c51;
    --bg-red : #ac4039;
    --bg-white: #f9f5f6;
    --bg-transparent: #f9f5f6b7;
}
*{
    margin :0;
    padding:0;
    box-sizing: border-box;
}
 img{
    max-width: 100%;
    height: auto;
}
/****************************************
/* HEADER*/

.bg-color{
    background-color:var(--bg-green);
}



 /*FIN HEADER*/
 /***************************************

 /*INDEX*/
 .bg-personal{
    background-color: var(--bg-clearBlue);
    height: 200px;
 }

 .bg-personal h4{
    color:var(--bg-darkBlue);
    margin-left:25px;
   margin-top:30px;
 }
 .content{
    margin: 100px 0;
 }
.trait{
    border-left: 2px solid var(--bg-green);
    width:150px;
}
.btn-green{
    background-color: var(--bg-green);
    color:var(--bg-white);
    padding:15px;
    border:none;
    
    
}
.btn-darkBlue{
    background-color: var(--bg-darkBlue);
    color:var(--bg-white);
    border:none;
    padding:15px;

}
.info-color{
    color:var(--bg-darkBlue);
}



 /*FIN INDEX*/
 /***************************************
 /*FOOTER*/

 .footer-bg-color{
    background-color: var(--bg-darkBlue);
 }
 /*FIN FOOTER*/
 
