<footer >
    <div class="container-fluid ">
        <div class="footer-bg-color text-light">
            <div class="d-flex justify-content-between pt-5 ">
                <div>
                    <h3 class="fs-4 ms-5 mb-4"><span class="text-capitalize">n</span>ous contacter</h3>
                </div>
                <div class="mention">
                    <a href=""class="fs-4 text-light"><span class="text-capitalize">mentions</span> légales</a>
                </div>
                <div class="condition">
                    <a href="" class="fs-4 text-light"><span class="text-capitalize">conditions</span> d'utilisation</a>
                </div>
                <div>
                    <img  class="me-5"src="images/croissance.png" alt="">
                </div>
            </div>
            <div class="d-flex justify-content-flex-start ">
                <div class="mx-5">
                    <p>Lorem Ipsum</p>
                    <p>105 rue Adresse</p>
                    <p>10000 Ville</p>
                </div>
                <div class="">
                    <p><span>t</span>el. : 00 00 00 00 00 </p>
                    <p><span>e</span>mail : mail@mail.com</p>
                    <p>lorem ipsum </p>
                </div>
            </div>
            <div class="border-top border-white border-2"></div>
            <div>
                <p class="text-center py-4">afpa 2023| formation <span>cda</span></p>
            </div>
        </div>    
    </div>
</footer>