<footer >
    <div class="container-fluid ">
        <div class="footer-bg-color">
            <div class="d-flex justify-content-between">
                <div>
                    <h3>nous contacter</h3>
                </div>
                <div>
                    <h3><span>m</span>entions égales</h3>
                </div>
                <div>
                    <h3><span>c</span>onditions d'utilisation</h3>
                </div>
                <div>
                    <img src="images/croissance (1).png" alt="">
                </div>
            </div>
            <div class="d-flex justify-content-flex-start">
                <div class="ms-5 me-5">
                    <p>Lorem Ipsum</p>
                    <p>105 rue Adresse</p>
                    <p>10000 Ville</p>
                </div>
                <div>
                    <p><span>t</span>el. : 00 00 00 00 00 </p>
                    <p><span>e</span>mail : mail@mail.com</p>
                    <p>lorem ipsum </p>
                </div>
            </div>
            <div class="trait"></div>
            <div>
                <p class="text-center">afpa 2023| formation <span>cda</span></p>
            </div>
        </div>    
    </div>
</footer>