<header>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg  bg-color">
            <div class="logo ms-3">
                <img src="images/croissance.png" alt="début d'un arbre dans un livre">
            </div>
                <div class="container">
                    <div class="collapse navbar-collapse " id="nav">
                        <ul class="navbar-nav" id="menu ">
                            <li class="nav-item"><a class="nav-link text-light me-5" href="">Accueil</a></li>
                            <li class="nav-item dropdown">
                                <a href="" data-bs-auto-close="outside" class="nav-link text-light dropdown-toggle me-5" data-bs-toggle="dropdown">Formations</a>
                                <ul class="dropdown-menu ">
                                    <li class="dropdown-item"><a class="nav-link text-light" href="">Formation 1</a></li>
                                    <li class="dropdown-item"><a class="nav-link text-light" href="">Formation 2</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link text-light me-5" href="">A propos</a></li>
                            <li class="nav-item"><a class="nav-link text-light me-5" href="">Contact</a></li>
                            <li class="nav-item"><a class="nav-link text-light me-5" href="">Espace personnel</a></li>
                            <li class="nav-item"><a class="nav-link text-light me-5" href="">Formulaire</a></li>
                            <li class="nav-item"><a class="nav-link text-light me-5" href="">Inscrits</a></li>            
                        </ul>
                    </div>
                </div>
                <div class="connect">
                    <div class="logoConnect ">
                        <img src="images/utilisateur.png" alt="forme géométrique d'une personne">
                    </div>
                    <div class="link text-ligth">
                        <a href="">S'incrire/Se connecter</a>
                    </div>
                </div>  
        </nav>
    </div>
</header>