{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur votre Espace personnel{% endblock %}

{% block body %}
{{include ('personal_space/_header.html.twig')}}
<div class="container-fluid my-5">
        <div class="bg-personal w-60 mt-5">
            <h4><span class="text-capitalize">espace</span> personnel</h4>
        </div>
    <div class="content d-flex justify-content-around">
        <div>
            <div class="mt-4">
                <div>
                    <p >Une idée? Un projet? Vous pouvez nous contacter si vous souhaitez avoir plus d'informations sur nos cursus</p>
                </div>
                <div>
                    <button type="submit" class="btn-green">Nous contacter</button>
                </div>
            </div>
            <div class="mt-4">
                <div>
                    <p>Toutes nos formation accessibles en un clic !</p>
                </div>
                <div>
                    <button type="submit" class="btn-green">Découvrir nos formations</button>
                </div>
            </div>
            <div class="my-4">
                <div>
                    <p>Une formation vous intéresse? Vous pouvez, dès maintenant, déposer une demande d'inscription !</p>
                </div>
                <div>
                    <button type="submit" class="btn-darkBlue">Se pré-inscrire</button>
                </div>
            </div> 
        </div>
        <div class=>
            <div class="trait"></div>
        </div>
        <div class="">
            <div>
                <h4 class="">informations personnelles</h4>
            </div>
            <div class="mt-5">
                <div>
                    <p>Nom :</p>            
                </div>
                <div>
                    <p>Prénom :</p>
                </div>
                <div>
                    <p>Email :</p>
                </div>
                <div>
                    <p>Mot de passe :</p>
                </div>
                <div class="text-center mt-4">
                    <button class="btn-green" type='submit'> Modifier</button>
                </div>
            </div>
        </div>
    </div>
</div>


{{include ('personal_space/_footer.html.twig')}}
{% endblock %}
