<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="">
         <link rel="stylesheet" href="{{asset('bootstrap-5.0.2-dist/css/bootstrap.css')}}">
        <link rel="stylesheet" href="{{asset("css/style_m.css")}}">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
